html{
  color: #2e2d2c;
  font-family: 'Baskervville', serif;
  font-size: 62.5%;
  margin: 0 auto;
}
section{
  width:100%;
  margin: auto;
}

#about{
  height: 80rem;
  background-color: #FF705F;

}
#work{
  height:70rem;
  background-color: #FFE2C3;
}
#contact{
  height:50rem;
  width:100%;
  background-color: brown;
  color: #fff;
}
.fullwidth{
    width:100%;
    margin:0;
    float:left;
}
.halfwidth{
    width:50%;
    float:left;
    margin:0;
}
.thirdwidth{
    width:33%;
    float:left;
    margin:0;
    padding-top: 5rem 4rem;

}
header {
  background: #FFDBC5;
  margin:0;
  height: 70rem;
  width:100%;
  background-size:cover;
  align-content: center;
}
header h1 {
    padding: 9rem 0 0 2.5rem;
    font-size:3rem;
    font-family: 'Baskervville', serif;
    line-height: 1;
    color: green;
    margin: 0;
  }
header h2{
    padding: 5rem 0px 0px 5.5rem;
    font-size:6.4rem;
    font-family: 'Baskervville', serif;
    line-height: 1;
    color: grey;
    margin: 0;
    text-align: left;
  }
header p{
    padding-left: 5rem;
    padding-top: 0;
    font-size: 3.2rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
}
nav {
    float:right;
    padding: 6rem 2.5rem;
  }
nav ul li {
    display: inline-block;
  }
nav ul li a {
    text-transform: uppercase;
    font-size:2rem;
    font-family: 'Baskervville', serif;
    text-decoration: none;
    padding-left: 2rem;
    color: #2e2d2c;
  }

  a:hover{
    color: orange;
  }
#about .full-width{
      padding: 4rem 0;
      margin: 0;
      display:flex;
      justify-content: center;
      align-items: center;
      text-align: center;

}

#about img{
    width:25%;
    margin-left: 2rem;
    text-align: center;
    padding: 15% 0 0 35%;
}

#about h2 {
    font-family: 'Baskervville', serif;
    font-size: 3.6rem;
    text-align: center;
}
#about p {
    font-size:2.1rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 3.5rem;
    padding-left:5rem;
    padding-right:5rem;
    text-align: center;
}
#work .fullwidth {
    margin: 0;
}
#work img{
  padding-left: 3rem;
  padding-top: 33%;
  height: 20rem;
  width: 30rem;
}
#work h3 {
  font-size:20px;
  font-family: 'Baskervville', serif;
  text-decoration: none;
  padding-left: 4rem;
}
#work p{
  text-align: center;
  padding-left: 4rem;
}
#contact img{

  padding-left: 15%;
}
#contact .full-width {
    padding: 3rem 0;
    margin: 0;
}
#contact h2, h3{
    font-size: 2rem;
    text-align: center;
    padding-top: 10%;
    font-family: 'Baskervville', serif;
}

#contact p{
  text-align: center;
  line-height: 1.5;
}
footer{
  width: 100%;

}
footer p{
  font-family: 'Open Sans', sans-serif;
}

header h4{
    padding: 5rem 0px 0px 5.5rem;
    font-size:6.4rem;
    font-family: 'Baskervville', serif;
    line-height: 1;
    color: grey;
    margin: 0;
    text-align: left;
    animation-name: moveinNow;
    animation-duration: 2.5s;
  }
  @keyframes moveinNow {
    0%{
      opacity: 0;
      transform: translateY(-30px)rotate(180deg);
    }
    100%{
      opacity: 1;
      transform: translateY(0)rotate(0);
    }
  }
